{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets%}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/content.css" %}">
{% endblock stylesheets %}

{% block content %}

  {% block bootstrap3_content %}

    <div class="help-block"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'content' %}">
            <img
              src="{{ image_source }}"
              class="center-block img-responsive"
              alt="content image"/>
          </a>
        </div>
      </div>
    </div>

  {% endblock %}

{% endblock content %}
