<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{% block title %} What do you want to watch? {% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  {% load static %}

  {% load bootstrap3 %}

  {% bootstrap_css %}

  <link rel ="stylesheet" type="text/css" href="{% static 'suggester/style.css' %}" /> 

  {% block bootstrap3_content %}

  <div class="help-block"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/suggest">
          <img
            src="{% static "suggester/landing.jpeg" %}"
            class="center-block img-responsive"
            alt="Landing image"/>
        </a>
      </div>
    </div>
  </div>

  {% endblock %}
</html>